/* - General ------------------------------------------------------- */
.mobile-only {display: none;}
.desktop-only {display: block;}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 60px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -15px 0 0 -30px;
}

/* Global Styles */
body,html {
    height: 100%;
    width: 100%;
    max-width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: transparent;
    color: #333;
    overflow-x: hidden;
    margin: auto;
    background: #444;
    -webkit-font-smoothing: subpixel-antialiased;
}
h1,h2{
    font-size: 32px;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
}
.hiddenHeader{
    display: none;
    margin: 0px;
}
.img-responsive{
    margin: 0 auto;
}
/* title Section */
.titleSection{
    text-align: center;
}
.titleSection h1,.titleSection h2{
    margin-bottom: 5px;
}
/* line */
.coloredLine{
    height: 1px;
    margin: auto;
    width: 150px;
    background: #FF6863;
    margin-top: 20px;
}
hr{
    border-color: #e4e4e4;
}
.arrow-right {
   position:absolute;
   width:48px;
   height:48px;
   right:-7%;
   top:7rem;
   background:url(/images/arrow-right.png) 0 0 no-repeat;
}
/* buttons */
.btn-new{
    background: transparent;
    border: 2px solid #FF6863;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    color: #FF6863;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: 1px;
    cursor: pointer;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
}
.btn-new:hover,.btn-new:focus{
    background: #FC453F;
    color: #fff;
    text-decoration: none;
    outline: none;
}
.btn-bold{
    background: #FF6863;
    color: #fff;
}
.btn-bold:hover{
    background: #FC453F;
}
.light{
    font-weight: 400;
}
.bold{
    font-weight: 700;
}
.no-padding {
    padding: 0 !important;
}
.text-right{
    text-align: right;
}
/* margin spaces */
.space10 {
    margin-bottom: 10px;
}
.space20 {
    margin-bottom: 20px;
}
.space30 {
    margin-bottom: 30px;
}
.space40 {
    margin-bottom: 40px;
}
.space50 {
    margin-bottom: 50px;
}
.space60 {
    margin-bottom: 60px;
}
.space70 {
    margin-bottom: 70px;
}
.space80 {
    margin-bottom: 80px;
}
.space90 {
    margin-bottom: 90px;
}
.space100 {
    margin-bottom: 90px;
}

/* HERO BOX
/**/
.popover-example .popover {
  position: relative;
  display: block;
  margin: 20px;
}
.popover-title{
   text-align: center;
   font-size: 1.5em;
   background: #ffff99;
}

.hero {
	position: relative;
	background: #88b7d5;
	border: 6px solid #c2e1f5;
   padding: 10px;
   font-size: 1.7rem;
}
.hero:after, .hero:before {
	left: 55%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.hero.top:after, .hero.top:before {
   top: 100%;
}
.hero.bottom:after, .hero.bottom:before {
   bottom: 100%;
}

.hero:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 10px;
	margin-left: -10px;
}
.hero.top:after {
   border-top-color: #88b7d5;
}
.hero.bottom:after {
   border-bottom-color: #88b7d5;
}
.hero:before {
	border-color: rgba(194, 225, 245, 0);
	border-width: 16px;
	margin-left: -16px;
}
.hero.bottom:before {
   border-bottom-color: #c2e1f5;
}
.hero.top:before {
   border-top-color: #c2e1f5;
}


#garanty .fa-3x {
   margin-top: 35px;
}
#clock {
   padding: 2em 2em 1em;
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   /*width: 50%;
   margin: 0 auto;/**/
}
#clock h3 {
   padding: 5px;
}
#clock.clock-red {
   text-shadow: #fff 1px 0px, #fff 1px 1px, #fff 0px 1px, #fff -1px 1px, #fff -1px 0px, #fff -1px -1px, #fff 0px -1px, #fff 1px -1px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px;
}
#clock.clock-black {
   text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px;
}
.txt {
   text-shadow: 
		-0   -3px 3px #fff,
		 0   -3px 3px #fff,
		-0    3px 3px #fff,
		 0    3px 3px #fff,
		-3px -0   3px #fff,
		 3px -0   3px #fff,
		-3px  0   3px #fff,
		 3px  0   3px #fff,
		-1px -3px 3px #fff,
		 1px -3px 3px #fff,
		-1px  3px 3px #fff,
		 1px  3px 3px #fff,
		-3px -1px 3px #fff,
		 3px -1px 3px #fff,
		-3px  1px 3px #fff,
		 3px  1px 3px #fff,
		-2px -3px 3px #fff,
		 2px -3px 3px #fff,
		-2px  3px 3px #fff,
		 2px  3px 3px #fff,
		-3px -2px 3px #fff,
		 3px -2px 3px #fff,
		-3px  2px 3px #fff,
		 3px  2px 3px #fff,
		-3px -3px 3px #fff,
		 3px -3px 3px #fff,
		-3px  3px 3px #fff,
		 3px  3px 3px #fff,
		-3px -3px 3px #fff,
		 3px -3px 3px #fff,
		-3px  3px 3px #fff,
		 3px  3px 3px #fff;
}
.txt .uppercase {
   text-transform: uppercase;
}
.txt-red {
   color: #e2352e;
}
.txt-yellow {
   color: #fff865;
}
.txt-blue {
   color: #1751a3;
}
.txt-green {
   color: #92c83c;
}
.txt-pink {
   color: #dd127b;
}

/* Header and nav --------------------------------------------------- */
.sticky-navigation {
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-bottom: 1px solid #eee;
    padding:5px 0 !important;
    margin-bottom: 0 !important;
    -webkit-backface-visibility: hidden;
    top:-100px;
}
.nav-logo{
    padding: 0px 15px;
    height: 50px;
    overflow: hidden;
}
.nav-logo:focus{
    outline: none;
}
.navbar{
    margin-bottom: 0px;
    padding-bottom: 7rem;
    border-top: 0;
    border-bottom: 0.5rem solid transparent;
    -webkit-border-image: url(/images/bar.png) 30 30 round;
    /* Safari 3.1-5 */
    -o-border-image: url(/images/bar.png) 30 30 round;
    /* Opera 11-12.1 */
    border-image: url(/images/bar.png) 30 30 round;
}
}
.navbar-nav {
    float: left;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-nav li a {
    padding: 10px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    position: relative;
    background: transparent !important;
    font-weight: 700;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.navbar-nav li a:focus{
    outline: none;
}
.navbar-nav li.active a,.navbar-nav li a:hover {
    color:#FF6863;
}

.jub-jik .navbar-nav li a,
.navbar-header a {
    padding: 10px;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    position: relative;
    background: transparent !important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.jub-jik .navbar-nav li.active a,.navbar-nav li a:hover,
.navbar-header a:hover {
    color:#FF6863;
}

header .btn-new{
    padding: 8px 18px;
    font-size: 12px;
    margin: 6px 0px 6px 10px;
}
.navbar-toggle{
    padding: 5px 10px;
    margin-right: 10px;
}

/* Top intro --------------------------------------- */
.logo{
    margin-bottom: 40px;
}
#intro {
    position: relative;
    text-align: center;
}
#intro .overlay{
    padding:0px;
}
.middle-intro{
    padding-top: 60px;
    padding-bottom: 0px;
}
#intro h1{
    font-size: 36px;
}
#intro h1 span{
    color:#FF6863;
}
#intro .btn-new{
    margin-right: 10px;
    margin-bottom: 5px;
}
.intro-btn{
    background: rgba(255,255,255,0.1);
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    padding: 20px 0px 15px;
}
/*services-------------------------------------- */
#services{
    background: #fff;
    padding: 150px 0px;
}
.servicesList{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.servicesList li{
    color: #fff;
    position: relative;
    padding: 40px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 2;

}
.servicesList li .number{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.servicesList li:hover{
    transform: scale(1.1,1.1);
    z-index: 99;
}
.purple{
    background: #8460a4;
}
.purple .number{
    background: #774e9c;
}
.red{
    background: #FF6863;
}
.red .number{
    background: #FC5653;
}
.blue{
    background: #3DCEC7;
}
.blue-2{
    background: #1751a3;
}
.blue .number{
    background: #2ABFB5;
}
.yellow{
    background: #F4C949;
}
.yellow .number{
    background: #EABB3A;
}
.blue2 {
   background: #76c5f0;
}
.blue3 {
   background: #1751a3;
}
.green {
   background: #92c83c;
}
.pink {
   background: #dd127b;
}
/* firstFeature section --------------------------------------------------*/
#firstFeature{
    background: url(/images/question-bg.jpg) #f0f0f0 repeat center;/**/
    /*background: #f0f0f0;/**/
    padding: 100px 0 0;
    overflow: hidden;
}
.welcomeText{
    padding: 0;
}
.colorTitles {
    color: #fff;
    margin-bottom: 20px;
}
.colorTitles span{
    padding: 10px 20px;
    display: inline-block;
    font-size: 2.5rem;
    clear: both;
    margin-bottom: 5px;
    font-weight: 800;
    text-align: center;
}
ul.feature-list{
    margin: 0px;
    list-style: none;
    padding: 0px;
}
ul.feature-list li {
    padding: 10px 0px;
}
.mobile{
    margin: 0 auto;
}
.feature-mobile{
    position: relative;
}
.featureCircle{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 136px;
    height: 136px;
    color: #fff;
    border:2px solid rgba(61,206,199,0.8);
    z-index: 10;
    border-radius: 50%;
    text-align: center;
}
.featureCircleInner{
    background: rgba(84,206,182,0.8);
    width: 126px;
    height: 126px;
    border-radius: 50%;
    margin: 3px;
}
.featureCircleInner span{
    position: absolute;
    top: 45px;
    left: 0px;
    right: 0px;
    text-transform: uppercase;
    font-size: 14px;
}
#firstFeature .phones{
    /*position: relative;
    overflow: hidden;/**/
    height: 500px;
}
#firstFeature .phone-back {
    height: 87%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 180px;
    top: 7%;
    width: auto;
    z-index: 1;
}
#firstFeature .shadow-left {
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=1 );
    height: 87%;
    left: 0;
    right: 140px;
    top: 7%;
    margin: 0 auto;
    position: absolute;
    width: 100px;
    z-index: 2;
}
#firstFeature .phone-front {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0 auto;
    /*position: absolute;
    /*right: -120px;/**/
    top: 0;
    width: auto;
    z-index: 3;
    display:block;
    margin:auto;
}
/*secondFeature --------------------------------------- */
#secondFeature{
    background: #FF6863;
    text-align: right;
    position: relative;
    height: 255px;
    color: #fff;
}
.secondFeatureLeft{
    margin-right: 400px;
}
.secondFeatureRight{
    width:360px;
    float: right;
    position: relative;
    top: -65px;
}
.secondFeaturePhone{
    position: relative;
    top:0px;
    right: 0px;
    max-width: 100%;
}
#secondFeature h3{
    margin-top: 50px;
    line-height: 150%;
}
#secondFeature .circleSocial{
    float: right;
    display: inline-block;
    margin-top: 20px;
}
#secondFeature .circleSocial li a:hover,#secondFeature .circleSocial li a:focus{
    color: #fff;
    border-color: #fff;
}

.mobileScreenWrapper {
    background: #fff;
    height: 440px;
    overflow: hidden;
    position: absolute;
    right: 27px;
    top: 95px;
    width: 247px;
}
.mobileScreen{
    width:247px;
    height: 440px;
    background: url("../images/phones/iphone-screen.jpg") no-repeat;
    background-position: center bottom;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}
.mobileScreen:hover{
    background-position: center bottom !important;
}
.secondFeatureClear{
    height: 0px;
}

/* videoSection ------------------------------------------- */
#videoSection{
    background: #fff;
    padding:80px 0px;
}
#franchise {
    background: #fff;
    padding:80px 0px;
}
video {
    max-width: 100%;
    height: auto;
}
iframe,embed,object {
    max-width: 100%;
}
.video-container {
    background: transparent !important;
    margin: auto;
    text-align: center;
}
.video {
    background: transparent !important;
}
/* thirdFeature ------------------------------------------- */
#thirdFeature{
    background: #f0f0f0;
    padding:150px 0px ;
}
.thirdFeatureBg{
    background: url("../images/bg2.jpg") no-repeat  center center   rgba(0, 0, 0, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    background-size: cover;
}

.thirdFeatureWrapper{
    background: rgba(61,206,199,0.7);
    color: #fff;
}
.thirdFeatureText-header{
    padding:40px;
    background: #F4C949;
}
.thirdFeatureText-header h2{
    margin: 0px;
}
.thirdFeatureText{
    padding: 40px;
}
.thirdFeatureText ul.feature-list li{
    color: #fff;
    border-bottom:  1px solid rgba(255, 255, 255, 0.1);
}
.thirdFeatureText ul.feature-list li:last-child{
    border-bottom: none;
}
.thirdFeatureText h4{
    line-height: 30px;
}
.thirdFeatureText h4 i{
    margin-right: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    display: inline-block;
}
/* parallax ------------------------------------------------------- */
.parallaxBg {
    /*background: url(/images/bg.jpg) no-repeat center center fixed #444;/**/
    background-attachment: fixed !important;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 800px;
    color: #fff;
    text-align: center;
}
.parallaxBg2 {
    background: url(/images/discount-bg.jpg) repeat center center #444;
    background-attachment: fixed !important;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #fff;
    text-align: center;
}
.parallaxBg3 {
    background: url(/images/contact-bg.jpg) repeat center center #444;
    background-attachment: fixed !important;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #fff;
    text-align: center;
}
.parallaxBg4 {
    background: #333;
    width: 100%;
    color: #fff;
    text-align: center;
}
.parallaxBg5 {
    /*background: url(/images/bg/wall-pattern-01.jpg) repeat center center #444;/**/
    background: #333;
    /*background-attachment: fixed !important;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;/**/
    color: #fff;
    text-align: center;
}



.overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    padding: 100px 0px;
}
.downloadNumber{
    font-size: 90px;
    font-weight: 700;
}
/* features ---------------------------------------------------- */
#features{
    background: #fff;
    padding:0px 0px 150px;
}
#featuresMobile{
    margin-top: -50px;
}
.features-left ul,.features-right ul{
    margin: 0px;
    /*margin-top: 100px;/**/
    padding: 0px;
}
.features-left ul li, .features-right ul li {
    display: table;
    list-style: none outside none;
    margin-bottom: 50px;
    width: 100%;
}
.features-left ul li .features-ico{
    float: right;
    width: 60px;
}
.features-right ul li .features-ico{
    float: left;
    width: 60px;
}
.features-ico i {
    color: #fff;
    font-size: 24px;
    height: 60px;
    line-height:60px;
    text-align: center;
    width: 60px;
    border-radius: 50%;
}
.features-left ul li .features-info{
    margin-right: 80px;
    text-align: right;
}
.features-right ul li .features-info{
    margin-left: 80px;
    text-align: left;
}
.features-info h4{
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 700;
}
.features-info p{
    margin-bottom: 0px;
}

/* testimonials ---------------------------------------------- */
#owl-carousel-testimonials img {
    margin: 10px auto;
    border-radius: 50%;
    width: 80px;
    height:80px;
}
#owl-carousel-testimonials .owl-controls .owl-page span {
    background:#fff;
}
/*item style */
#team{
    padding: 150px 0px ;
    background: #f0f0f0;
}
.owl-pagination{
    padding-top: 40px;
}
.owl-theme .owl-controls .owl-page span{
    margin: 2px;
    background: #ccc;
}
.team-item {
    max-width: 300px;
    margin: auto;
}
.team-item img{
    transform: scale(1.1,1.1);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}
.team-item:hover img{
    transform: scale(1,1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.teamWrapper{
    position: relative;
    overflow: hidden;
    background: #000;
}
.team-overlay{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjg2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44NiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 29%, rgba(0,0,0,0.86) 93%, rgba(0,0,0,0.86) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(29%,rgba(0,0,0,0)), color-stop(93%,rgba(0,0,0,0.86)), color-stop(100%,rgba(0,0,0,0.86))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.86) 93%,rgba(0,0,0,0.86) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.86) 93%,rgba(0,0,0,0.86) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.86) 93%,rgba(0,0,0,0.86) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.86) 93%,rgba(0,0,0,0.86) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#db000000',GradientType=0 ); /* IE6-8 */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.team-inner  {
    padding:10px 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.team-inner h5 {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    margin: 0px;
}
.team-inner h5 span {
    font-size: 12px;
    font-weight: 400;
    color:#999;
    display: block;
    margin-top: 4px;
    text-transform: none;
}

/* thumb overlay effect style */
.thumb-overlay ul {
    padding:0px;
    margin: 0px;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid rgba(0,0,0,0.4);
    position: relative;
    text-align: right;
}
.thumb-overlay ul li{
    display: inline-block;
    margin-left: 10px;
    list-style:none;
    text-align: center;
    border-radius: 50%;
}
.thumb-overlay ul li a{
    font-size: 16px;
    color:#FF6863;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.thumb-overlay ul li a:hover,.thumb-overlay ul li a:focus{
    color: #FC453F;
    outline: none;
}


/*Screenshots ---------------------------------------------------- */
#screenshots {
    padding: 50px 0px ;
    background: #fff ;
    /*text-align: center;/**/
}
#screenshots:after,#screenshots:before{
    display: table;
    content: "";
}
#screenshots:after{
    clear: both;
}
#owl-carousel-works .item {
    position:relative;
    z-index:8787;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.latest-item:hover{
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.nivo-lightbox-next:focus,.nivo-lightbox-prev:focus{
    outline: none;
}
.nivo-lightbox-theme-default .nivo-lightbox-title{
    background: rgba(0,0,0,0.6);
}

/* numbers ---------------------------------------------------------------- */
#numbers .overlay{
    padding: 0px 0px 80px 0px;
}
ul.numbersList {
    margin: 0px auto;
    padding: 0px;
    overflow: hidden;
    list-style: none;
    text-align: center;
}
ul.numbersList li{
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
ul.numbersList li:last-child{
    border: none;
}
ul.numbersList h4{
    color: #FF6863;
    margin-bottom: 0px;
}
ul.numbersList span{
    font-size: 90px;
    font-weight: 700;
}

.numbers-title {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    position: relative;
    z-index: 2;
}
/* download style --------------------------------------------------------*/
#download{
    color: #fff;
}
.logoDownload{
    margin-bottom: 15px;
}
.btn-app-download {
    padding: 15px 30px 15px 80px;
    position: relative;
    border:2px solid #fff;
    display: inline-block;
    /*color: #FF6863;/**/
    color: #fff;
    background: #fc453f;
    margin: 5px;
    text-align: left;
    border-radius: 40px;
}
.btn-app-download:hover,.btn-app-download:focus{
    color: #fc453f;
    background: #ffcccc;
    border:2px solid #ff6863;
    outline: none;
}
.btn-app-download i {
    font-size: 40px;
    left: 0;
    line-height: 1;
    margin: 15px 0 0 30px;
    position: absolute;
    top: 0;
}
.btn-app-download strong {
    display: block;
    font-weight: 700;
    margin-bottom: 6px;
}
.btn-app-download span {
    display: block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: -3px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
/* plans style --------------------------------------------------------*/
#plans{
    padding: 150px 0px;
    background: #fff;
}
#plans .item{
    background: #f0f0f0;
    border-top: 6px solid #F4C949;
    text-align: center;
    padding: 40px 0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 2;
}
#plans .item:hover{
    transform: scale(1.1,1.1);
    z-index: 99;
}
#plans .item .package{
    font-weight: 700;
    font-size: 30px;
}
#plans .item .price{
    height:100px;
}
#plans .item .price p {
    color: #FF6863;
    display: inline-block;
    font-weight: 700;
    font-size: 5rem;
    height:100px;
    position: relative;
    margin: 0px;
    line-height: 100px;
}
/*#plans .popular .price p {
    font-size: 90px;
}/**/
#plans .item .price p span {
    line-height: normal;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
}

#plans .item .price p span.currency {
    right: -15px;
    top: 15px;
}
ul.plans-list{
    margin: 0px;
    padding: 30px 0px;
    list-style: none;
}
ul.plans-list li {
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 0px;
}
.popular ul.plans-list li {
    color: #fff;
}
#plans .popular{
    background: #FF6863;
    color: #fff;
    transform: scale(1.1,1.1);
}
#plans .popular .btn-new{
    border-color: #fff;
    color: #fff;
}
#plans .popular .price p{
    color: #fff;
}
/* clients -------------------------------------------------------- */
#clients{
    background: #f0f0f0;
    border-top: 1px solid #e4e4e4;
    padding:50px 0px;
    position:relative;
    overflow: hidden;
    text-align: center;
}
.clientsLogos span{
    display: inline-block;
    margin: 0px 20px;
}
.imgClient{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 5px;
}
.imgClient:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

/* contact ----------------------------------------------------------- */
#contact .overlay{
    padding-bottom: 0px;
}
.infoDetails{
    width: 70%;
    margin: 0 auto;
    float: none;
}
.infoDetails span.phone{
    padding:0px 20px;
    margin: 0px;
    font-size:2.5em;
    background: rgba(255, 255, 255, 0.1);
    font-weight: 700;
    display: block;
}
.infoDetails span.phone span {
   display: block;
   font-size:.5em;
   padding: 5px 0;
}
.contactBg{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    padding: 50px 0px;
    position: relative;
    z-index: 2;
}
#contactForm-1 input,
#contactForm-2 input,
#contactForm-3 input,
#contactForm-4 input,
#contactForm-5 input,
#contactForm-0 input {
    /*background: transparent;/**/
    background: rgba(255, 255, 255, 0.1);
    border:none;
    border-bottom: 2px solid #FF6863;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    color:#fff;
    outline: none;
    font-weight: 800;
}
#contactForm-1 textarea,
#contactForm-2 textarea,
#contactForm-3 textarea,
#contactForm-4 textarea,
#contactForm-5 textarea,
#contactForm-0 textarea {
    background: transparent;
    border:none;
    border-bottom: 2px solid #FF6863;
    height: 40px;
    max-height: 120px;
    resize: none;
    margin-bottom: 50px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    color:#FF6863;
    outline: none;
}
/* Footer ---------------------------------------------------------- */
footer {
    background:#111;
    padding:50px 0;
}
footer p {
    text-align: center;
    color: #fff;
}
footer p a {
    font-weight: 700;
    color: #fff;
    color: #FF6863;
}
footer p a:hover {
    color: #FF6863;
}
.circleSocial {
    padding: 0;
    display: table;
    margin: 0 auto;
}
.circleSocial li {
    list-style: none;
    float: left;
    margin: 2px;
}
.circleSocial li a {
    width: 40px;
    height: 40px;
    background: transparent;
    border:2px solid #fff;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height:36px;
    font-size: 16px;
    margin: 2px;
}
.circleSocial li a:hover,.circleSocial li a:focus {
    border-color: #FF6863;
    outline: none;
    color: #FF6863;
}
/* responsive style ----------------------------------------------------------------- */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .mobile-only {display: none !important;}
    .desktop-only {display: block !important;}
    .infoDetails{width: 100%;}
    .features-left ul{margin-top: 50px;}
    .features-right ul{margin-top: 50px;}
    .video .fluid-width-video-wrapper{ min-height: 400px;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .mobile-only {display: none !important;}
    .desktop-only {display: block !important;}
    
    #services,#firstFeature,#secondFeature,#videoSection,#franchise,#thirdFeature,#features,#screenshots,#team,#plans{padding-top: 50px !important;padding-bottom: 50px !important}

    #firstFeature .phones {
        height: 400px;
        margin: 0 auto;
        width: 90%;
    }
    .welcomeText{
        text-align: center;
    }
    #secondFeature{
        height: auto;
        padding: 150px 0px;
    }
    .secondFeatureRight{
        float: none;
        margin: 0 auto;
        top: 0px;
    }
    .secondFeatureLeft{
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #secondFeature h2{
        margin-top: 20px;
    }
    #secondFeature{
        overflow: hidden;
        text-align: center;
    }
    #secondFeature .circleSocial{
        float: none;
        margin-bottom: 20px;
    }
    ul.numbersList li{
        border:none;
    }
    .video .fluid-width-video-wrapper{ min-height: 200px;}
    #plans .popular .price p{font-size: 70px;}
    #featuresMobile{margin-top: 0px;}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
   .mobile-only {display: block !important;}
   .desktop-only {display: none !important;}
   
   #thirdFeature{padding:50px 10px !important;}
   .navbar-nav { width: 100%;margin: 10px 0px;}
   .navbar-collapse {
      max-height: 355px !important;
      padding-bottom: 15px;
      padding-right: 15px;
      padding-left: 15px;
      overflow-x: visible;
      border-top: 1px solid transparent;
   }
   .infoDetails span.phone{font-size: 60px;}
   .downloadNumber{font-size:60px; }
   
   .not-show {
      display: none;
      background: red;
   }
   .middle-intro h1 {
      font-size: 2em !important;
      margin: 1.1em 0;
   }
   .middle-intro h3 {
      margin-top: 0;
      font-size: 1.3em;
   }
   .btn-new {
      font-size: 1em;
   }
   .btn-new strong {
      display: block;
   }
   #clock-intro {
      zoom: .37;
      -moz-transform: scale(.37)
   }
   #clock-intro .inn {
      zoom: 1.4;
   }
   #firstFuture {
      max-height: 400px;
   }
   #thinking-woman {
      float: right !important;
   }
   #thinking-woman .phones {
      position: absolute;
      bottom: 30%;
      left: 20%;
   }
   #thinking-woman .phones img {
      left: 0;
      top: 0;
      height: 500px;
      width: auto;
   }
   .welcomeText img {
      max-width: 170px;
      padding-left: 5px;
   }
   #salon-2 img,
   #salon-3 img    {
      width: 100%;
   }
   #salon-3 h2 { font-size: 1.5em; }
   #salon-3 h3 { font-size: 1.1em; }
   #salon-3 .space40,
   #salon-3 .space80 {
      margin-bottom: 10px;
   }
   #garanty img {
      width: 100%;
   }
   #plans .popular {
      transform: none;
   }
   #plans .item {
      padding: 0 0 20px;;
   }
   #plans .item .price {
      height: 5em;
   }
   #plans .item .price p {
      font-size: 3em;
   }
   #plans .item h3 {
      font-size: 1em;
      margin: 10px 0;
   }
   #plans .item .plans-list {
      padding: 10px 0;
   }
   #plans .item .plans-list li {
      padding: 0;
   }
   #contact .overlay {
      padding: 20px 0;
   }
   #contactForm-1 input,
   #contactForm-2 input,
   #contactForm-3 input,
   #contactForm-4 input,
   #contactForm-5 input,
   #contactForm-0 input {
      margin-bottom: 0;
   }
   #contactForm-1 #submit,
   #contactForm-2 #submit,
   #contactForm-3 #submit,
   #contactForm-4 #submit,
   #contactForm-5 #submit,
   #contactForm-0 #submit {
      margin-top: 10px;
   }
   .submit {
      margin: 0;
      padding: 0;
   }
   #contact .phone {
      margin-top: 40px;
   }
   #contact img {
      width: 100%;
   }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
   .mobile-only {display: block !important;}
   .desktop-only {display: none !important;}
   
   .parallaxBg {
      background-attachment: inherit !important;
   }
    #firstFeature .phones {
        height:250px;
        margin: 0 auto;
        width: 100%;
    }
    #firstFeature .phone-front{
        height: auto;
        width: 50%;
        right: 0px;
        left: 40%;
    }
    #firstFeature .phone-back{
        height: auto;
        width: 50%;
        left: 5%;
    }
    #firstFeature .shadow-left{
        height: 100%;
        right: 10%;
    }
    ul.numbersList h4 {font-size: 16px;}
    ul.numbersList span{font-size: 60px;}
    .infoDetails h2{font-size: 24px;}
    .infoDetails span.phone{font-size: 30px;}
    .downloadNumber{font-size:40px; }
    #intro .btn-new{padding:15px 20px; }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    #firstFeature .phones {
        height: 200px;
    }
}
