<section id="contact" class="parallaxBg5">
        
      <div class="container">
         <div class="row">
            <div class="col-md-12 infoDetails  wow fadeInUp animated" data-wow-offset="100" data-wow-duration="1s" >
               <div class="space40"></div>
               <h3>franchise@jub-jik.ru</h3>
               <!--h2>Курск, ул. Радищева, 52</h2-->
               <img src="/images/logo-mid-2.png" />
            </div>
            <div class="space40"></div>
         </div>
      </div>
   
</section>